body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Header section styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff914d;
    padding: 1em;
}

/* Styling for the logo text */
.logo h1 {
    color: white;
    margin: 0;
}

/* Styling for links in the top navigation */
.top-nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* Styling for the search input in the top navigation */
.top-nav input {
    padding: 5px;
}

/* Main navigation styling */
.main-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color: #ff6f61;
    margin: 0;
}

/* Styling for each list item in the main navigation */
.main-nav ul li {
    margin: 0 15px;
}

/* Styling for links in the main navigation */
.main-nav ul li a {
    color: white;
    text-decoration: none;
}

/* Styling for the hero image (featured image) */
.hero-image {
    width: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid #333;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 0 20px;
}

footer {
    background-color: #ff914d;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #8C3826;
}


/* Styling for the logo image */
.logo img {
    height: 100px;
    width: auto;
    margin-right: 10px;
}

.team-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

.team-table th, .team-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.team-table th {
    background-color: #ff6f61;
    color: white;
    font-weight: bold;
}

.team-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.team-table tr:hover {
    background-color: #f1f1f1;
}

.team-table td {
    color: #333;
}

